.navbar-brand img{
    height: 35px;
    width: 40px;
}
li.nav-item{
  padding-right: 65px;
}
a.dropdown-item{
  height:25px;
}

mat-icon.mat-icon-logo{
  height: 40px;
  width: 50px;
}

.route-nav a{
  margin-right: 87px;
  color: #c8c8c8;
}

.route-nav a.language{
}


nav a{
  text-decoration: none;
}

nav input{
  border: none;
  outline: none;
  color:#c8c8c8;
  background-color: inherit;
  margin-top: 6px;
  margin-right: 10px;
  height: 62px;
}
nav input:focus{
  border-bottom:0.5px solid #a3a3a3;
}

.mat-select-trigger{
  margin-top:3px;
}

::ng-deep .language-select .mat-input-underline{
  opacity: 0;
}

mat-form-field.language-select{
  width:115px;
  margin-right: 46px;
  margin-top: 2.4px;
}

::ng-deep .language-select .mat-select-value-text{
  color: rgba(255, 255, 255, 0.56);
}

::ng-deep .paper .language-select .mat-select-value-text{
  color: #c8c8c8;
}
