.navbar-brand img{
    height: 35px;
    width: 40px;
}
li.nav-item{
  padding-right: 65px;
}
a.dropdown-item{
  height:25px;
}

mat-icon.mat-icon-logo{
  height: 40px;
  width: 50px;
}

.route-nav a{
  margin-right: 70px;
  color: #c8c8c8;
}

.route-nav a.language{
  margin-right:40px;
}


nav a:hover{
  text-decoration: none;
}

nav input{
  border: none;
  outline: none;
  color:#c8c8c8;
  background-color: inherit;
}
nav input:focus{
  border-bottom:0.5px solid #a3a3a3;
}
