<mat-card>
  <h3>Forgot Password</h3>
  <div class="form-container">
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input [formControl]="emailControl"
      (change)="findSecurityQuestion()"
      type="text" matInput
      placeholder="Enter your email">
    </mat-form-field>
  </div>
  <div class="form-container" *ngIf="securityQuestion">
      <mat-form-field>
        <mat-label>Security Question</mat-label>
        <input type="text" matInput placeholder="">
      </mat-form-field>
      <mat-form-field>
          <mat-label>New Password</mat-label>
          <input type="text" matInput placeholder="">
      </mat-form-field>
      <mat-form-field>
            <mat-label>Repeat New Password</mat-label>
            <input type="text" matInput placeholder="">
      </mat-form-field>
    </div>
  <button [disabled]="emailControl.invalid" routerLink="" mat-raised-button color="primary">Change</button>
</mat-card>
