<div class="web-container">
<navbar></navbar>
<div class="container">
    <div *ngFor="let notification of notifications;index as i" >
        {{notification.message}}
    </div>
</div>
<router-outlet></router-outlet>
</div>
<a [hidden]="!gitHubRibbon" href="https://github.com/bkimminich/juice-shop">
    <img style="position: absolute; top: 0; right: 0; border: 0;"
    [src]="'https://juice-shop-deploy.herokuapp.com/public/images/ribbons/forkme_right_'+gitHubRibbon+'.png'"
    alt="Fork me on GitHub"></a>
