.web-container{
    width: 100%;
    margin: auto auto;
    z-index:1;
}

a img{
    z-index:2;
}

mat-sidenav{
    width:290px;
}

mat-list {
    margin-bottom:25px;
    margin-top:10px;
    width:750px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
